-
  var codetapData = {
    author: 'Marian Zburlea',
    title: 'Codetap',
    slogan: 'Code is <b>currency</b>'
  }

h1= codetapData.title
p.description Description: #{codetapData.slogan}
p.description Description: !{codetapData.slogan}
p.author Author: #{codetapData.author}
p.author Author: #{codetapData.author.toUpperCase()}